//
   Created by lenovo-pc on 2017/1/7.
.myComment.clear
    .inputComment(contenteditable=true)
    button.btn.btn-danger(type="submit") 评论
.comment-list
    img(src="/img/0.jpg")
    strong 名字
    p 内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
.reply-list
    img(src="/img/1.jpg")
    strong 名字的回复
    p 内容