//
   Created by lenovo-pc on 2017/1/7.
.myComment.clear
    form#commentForm(method="POST",action="/user/comment")
        input(type="hidden",name="comment[movie]",value="")
        input(type="hidden",name="comment[from]",value="")
        .form-group
            textarea.form-control(name="comment[content]",row="3")
        button.btn.btn-primary(type="submit") 提交
.comment
    .comment-list
        img(src="/img/0.jpg")
        .comment-body
            p.name 名字
            p.content 内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            a.reply 回复
    .reply-list
        .comment-list
            img(src="/img/1.jpg")
            .comment-body
                p.name 名字的回复
                p.content 内容
                a.reply 回复