#head.head.clear
    #logo.logo
    .resource
        .video.active
            span
            a(href='/videolist/') 视频
        .document
            span
            a(href='/doclist/') 文档
        .onlineTest
            span
            a(href='/testlist/') 在线测试
    .login-block
        if user
            p.navbar-text.navbar-right
                a(href="/user") 欢迎您，#{user.name}
                span &nbsp;&nbsp;
                a.navbar-link(href="/loginout") 退出
        else
            a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
            a.hyphen /
            a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signup")
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for="signupName") 用户名：
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码：
                        input#signupPassword.form-control(name="user[password]",type="text")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="submit") 注册
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signin")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="signinName") 用户名：
                        input#signinName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signinPassword") 密码：
                        input#signinPassword.form-control(name="user[password]",type="password")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 登录