//
   Created by lenovo-pc on 2017/2/10.

//
   Created by lenovo-pc on 2017/2/4.

.row
    form#resourceForm.form-horizontal(method="POST",action="/admin/resource/new")
        input(type="hidden",name="resource[subjection]")
        input(type="hidden",name="resource[_id]")
        .form-group
            label.col-sm-2.control-label(for="inputSubjection") 资源属性
            .col-sm-10
                .btn-group.isResource.active
                    button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",index="-1")
                        |请选择
                        span.caret
                    ul.ul1.dropdown-menu
                        li
                            a(index="0") 线性表
                            a(index="1") 栈和队列
                            a(index="2") 树和二叉树
                            a(index="3") 图
                            a(index="4") 查找
                            a(index="5") 排序
                .btn-group.isResource
                    button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",index="-1")
                        |请选择
                        span.caret
                    ul.ul2.dropdown-menu

                .btn-group.isResource
                    button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",index="-1")
                        | 请选择
                        span.caret
                    ul.ul3.dropdown-menu
        .form-group
            label.col-sm-2.control-label(for="inputContent") 资源内容
            .col-sm-10
                span 添加内容&nbsp;&nbsp;&nbsp;
                span.btn.btn-default +
        .form-group
            .col-sm-offset-2
            .col-sm-10
                button.btn.btn-default(type="submit") 录入
    script(src="/js/res-in.js")