//
   Created by lenovo-pc on 2017/2/4.

.row
    form.form-horizontal(method="POST",action="/admin/test/new")
        input(type="hidden",name="test[_id]")
        .form-group
            label.col-sm-2.control-label(for="inputName") 试题名字
            .col-sm-10
                input#inputName.form-control(type="text",name="test[name]")
        .form-group
            .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 录入