//
   Created by lenovo-pc on 2017/1/18.
.user-right
    #rightBlock 标题
        -var userCollect=[{title:"第一个推荐的视频",content:"资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介",subjection:"线性表",recommend:"1000000",collect:"100",download:"90"},{title:"第一个推荐的视频",content:"资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介",subjection:"线性表",recommend:"1000000",collect:"100",download:"90"}];
    each collect in userCollect
        #resource
            #intro
                .brief
                    p.resourceTitle #{collect.title}
                    p.resourceSubject #{collect.subjection}
                    p.brief-content #{collect.content}
                .share
                    span 推荐
                    span 收藏
                    span 评论
            #mask
            .bgBox