/*评论区*/
/*输入评论区*/
.myComment{
    margin-bottom:30px;
}
.inputComment{
    min-height:30px;
    margin:5px 0px;
    background:#fff;
}
.myComment button{
    float:right;
    width:3.3em;
    height:2em;
    line-height:1.2em;
    padding:0;
}
/*查看过往评论*/
.comment-list,
.reply-list{
    margin-bottom:15px;
}
.reply-list{
    margin-left:30px;
}
.comment-list img{
    height:30px;
    width:30px;
    float:left;
    border-radius:50%;
}
.comment-body{
    margin-left:40px;
}
.comment-body .name{
    font-size:16px;
    font-weight:bold;
    padding-bottom:5px;
}
.comment-body .content{
    text-indent: 2em;
    font-size: 16px;
    line-height: 18px;
}
.comment-body .reply{
    float:right;
    color:#1abc9c;
    cursor:pointer;
}