#document-block{
    float:left;
    width:860px;
    font-size:16px;
    background:#ddd;
    border-radius:5px;
    overflow:hidden;
}
.doc-title{
    padding:20px 30px;
    background:#e84c3d;
}
.praise{
    float:right;
}
.praise span{
    display:inline-block;
    width:4em;
    height:1em;
    line-height:1em;
    text-align:right;
    font-size:0.8em;
}
.praise span:nth-child(1){
    background:url('/img/r-a.png') no-repeat 0.5em 0em;
    background-size:28%;
}
.praise span:nth-child(2){
    background:url('/img/c-a.png') no-repeat 0.5em 0em;
    background-size:28%;
}
.praise span:nth-child(3){
    background:url('/img/d-a.png') no-repeat 0.5em 0em;
    background-size:28%;
}

.doc{
    min-height:1000px;
    background:#fff;
    margin:30px 30px;
    margin-top:10px;
}
.comment-block{
    padding:20px 30px;
}

.aside-icon{
    position:absolute;
    width:3em;
    height:15em;
    background:rgba(255,255,255,0.5);
    top:200px;
    right:0;
    z-index:1000;
}
.aside-icon span{
    display:inline-block;
    height:3em;
    width:3em;
    opacity:0.5;
    border:1px solid #ecf0f1;
    border-right:none;
}
.aside-icon .recommend{
    background:url('/img/r-a.png') no-repeat 0.5em 0.5em;
    background-size:2em;
}
.aside-icon .recommend.active{
    background:url('/img/c-a.png') no-repeat 0.5em 0.5em;
    background-size:2em;
}