.head{
    width:100%;
    min-width:1180px;
    font-size:14px;
    background:#34495e;
    height:3em;
    position:fixed;
    z-index:100;
    color:#fff;
}
.head.is-active{
    background:#ecf0f1;
    color:#bdc3c7;
}
/**/
.logo,
.resource,
.login-block{
    float:left;
    height:3em;
    line-height:3em;
}
.logo{
    margin:.5em 7em;
    width:5em;
    height:2em;
    background:url('/img/logo.png') no-repeat 0px -31px;
}
.logo.active{
    background:url('/img/logo.png') no-repeat 0px 0px !important;
}
.logo.is-active{
    background:url('/img/logo.png') no-repeat 0px -61px;
}
/**/
.resource{
    margin-left:8em;
}
.resource > div {
    float:left;
    width:6em;
    margin-right:1em;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    letter-spacing:3px;
}
.resource > div:hover{
    background: #1abc9c;
}
/**/
.login-block {
    float: right;
    margin-right: 7em;
}
.login-block a,
.login-block span{
    display: inline-block;
    float: left;
    width:2.5em;
    font-size: 1.2em;
    text-align: center;
    color:#ecf0f1;
    cursor: pointer;
}
.login-block span{
    cursor: none;
}
/**/
.modal-dialog{
    width:360px;
    margin-top:180px;
}


