.container{
    width:750px;
}
.row{
    padding:20px;
}
.btn-group{
    opacity:0;
}
.btn-group.active{
    opacity:1;
}
#testContent{
    display:none;
}
#testContent.active{
    display:block;
}
#testSubmit{
    margin-left:10px;
}
