.artical{
    width:100%;
    padding:1.2em 1.5em;
    background:#f8f8f8;
}
.artical h3{
    color:#2d3e50;
    text-shadow:0 0 3px #666;
    margin-bottom:10px;
}
.artical p{
    font-size:1em;
    line-height:1.2em;
    text-indent:2em;
    letter-spacing:1px;
}
.recommend-v,
.recommend-d,
.recommend-t{
    /*background:url();背景皇冠图片  或者top3字样*/
    /*color:选取一个跟皇冠和谐的颜色*/
    line-height:50px;
    text-indent:1.5em;
    font-size:1em;
    letter-spacing:2px;
    background-color:#bdc3c7;
}
.recommend-v-list,
.recommend-d-list,
.recommend-t-list{
    background:#ecf0f1;
    height:2.5em;
    line-height:2.5em;
    letter-spacing:0;
    padding:0 1.5em;
}
.recommend-v-list span,
.recommend-d-list span,
.recommend-t-list span{
    display:block;
    float:left;
}
.recommend-v-list span:nth-child(1),
.recommend-d-list span:nth-child(1),
.recommend-t-list span:nth-child(1){
    width:1.3em;
    height:2.5em;
}
.recommend-v-list span.recommend,
.recommend-v-list span.collect,
.recommend-v-list span.download,
.recommend-d-list span.recommend,
.recommend-d-list span.collect,
.recommend-d-list span.download,
.recommend-t-list span.recommend,
.recommend-t-list span.collect,
.recommend-t-list span.download{
    font-size:0.8em;
    float:right;
    text-align:left;
    width:6em;
    text-indent:2em;
}
.recommend-v-list span.recommend,
.recommend-d-list span.recommend,
.recommend-t-list span.recommend{
    background:url('/img/r-a.png') no-repeat 0em 0.8em;
    background-size:25%;
}
.recommend-v-list span.collect,
.recommend-d-list span.collect,
.recommend-t-list span.collect{
    background:url('/img/r-a.png') no-repeat 0em 0.8em;
    background-size:25%;
}
.recommend-v-list span.download,
.recommend-d-list span.download,
.recommend-t-list span.download{
    background:url('/img/c-a.png') no-repeat 0em 0.8em;
    background-size:25%;
}
.recommend-v-list span:nth-child(1){
    background:url('/img/video.svg') no-repeat 0em 0.6em;
    background-size:50%;
}
.recommend-d-list span:nth-child(1){
    background:url('/img/video.svg') no-repeat 0em 0.6em;
    background-size:50%;
}
.recommend-t-list span:nth-child(1){
    background:url('/img/video.svg') no-repeat 0em 0.6em;
    background-size:50%;
}