.mainCenter{
    width:1180px;
    min-height:500px;
    padding-top:57px;
    margin:0 auto;
}
.mainAside{
    position:relative;
    left:0;
}
.mainContent{
    position:relative;
    left:15px;
    width:860px;
    min-height:500px;
}