//
   Created by lenovo-pc on 2017/2/4.
doctype
html
    head
        link(rel='stylesheet',href='/libs/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet',href='/stylesheets/in.css')
    body
        div.container
            ul.nav.nav-tabs(role="tablist")
                li.active(role="presentation")
                    a(href="#resource",aria-controls="resource",role="tab",data-toggle="tab") 资源
                li(role="presentation")
                    a(href="#video",aria-controls="video",role="tab",data-toggle="tab") 视频
                li(role="presentation")
                    a(href="#document",aria-controls="document",role="tab",data-toggle="tab") 文案
                li(role="presentation")
                    a(href="#test",aria-controls="test",role="tab",data-toggle="tab") 测试
        div.tab-content.container
            div#resource.active.tab-pane(role="tabpanel")
                include ../includes/res-in
            div#video.tab-pane(role="tabpanel")
                include ../includes/video-in
            div#document.tab-pane(role="tabpanel")
                include ../includes/doc-in
            div#test.tab-pane(role="tabpanel")
                include ../includes/test-in
    script(src='/libs/jquery/dist/jquery.js')
    script(src='/js/tool.js')
    script(src='/js/subject.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
