//
    Created by Dida on 2016/12/21.

extend ../layout

block content
    .concept
        <canvas id="canvas">        </canvas>

block append style
    link(rel="stylesheet",href="/stylesheets/concept.css")

block append script
    script(src="/js/concept.js")