//
   Created by Dida on 2016/12/21.
extend ../layout

block append style
    link(rel="stylesheet",href="/stylesheets/knowledgeSystem.css")

block content
    .artical
        -var articals=[{title:"线性表",content:["概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1概念的内容1","概念的内容2"]}];
        each act in articals
            h3.artical-title #{act.title}
            each item in act.content
                p #{item}
    .recommend-v
        .recommend-v-1
            span
            span.recommend-v-title
            span.recommend
            span.collect
            span.download
    .recommend-d
        .recommend-d-1
            span
            span.recommend-v-title
            span.recommend
            span.collect
            span.download
    .recommend-t
        .recommend-t-1
            span
            span.recommend-v-title
            span.recommend
            span.collect
            span.download

