//
    Created by Dida on 2016/12/21.

extend ../layout

block content
    #test
        #Title 试题题目
        #question
            span 题目
            p.ques-content 我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决
            form.clear
                label
                    input(name="answer",type="radio",value="",index="1")
                    p A我想要一个运用了div+css的html网页学习一下
                label
                    input(name="answer",type="radio",value="",index="2")
                    p B
                label
                    input(name="answer",type="radio",value="",index="3")
                    p C我想要一个运用了div+css的html网页学习一下
                label
                    input(name="answer",type="radio",value="",index="4")
                    p DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
                label
                    input(name="answer",type="hidden")
                button.btn.btn-success.sure 确定
            .answer.clear
                span.ans 答案及详解
                span.com 评论
                .ans-content
                    p 总的来说由浅到沉，不要想着先尽一个学全学精再学下一个，这是不行的，因为他们很系统的，即看似独立又有彼此互有联系，DIV+CSS里面的属性就太多了又与JS密不可分，所以可以放到最后慢慢学习，SQL语法太多了，你也可以放到最后，刚开始只用了解怎么用，常用的，最简单的SQL语法会用就行了。
                .testComment
                    include ../includes/comment

        #question
            span 题目
            p.ques-content 我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决我想要一个运用了div+css的html网页学习一下，内容只要三到四页就可以了。求各位大神帮忙解决
            form.clear
                label
                    input(name="answer",type="radio",value="",index="1")
                    p A
                label
                    input(name="answer",type="radio",value="",index="2")
                    p B
                label
                    input(name="answer",type="radio",value="",index="3")
                    p C
                label
                    input(name="answer",type="radio",value="",index="4")
                    p DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
                button.btn.btn-success.sure 确定
            .answer.clear
                span.ans 答案及详解
                span.com 评论
                .ans-content
                    p 总的来说由浅到沉，不要想着先尽一个学全学精再学下一个，这是不行的，因为他们很系统的，即看似独立又有彼此互有联系，DIV+CSS里面的属性就太多了又与JS密不可分，所以可以放到最后慢慢学习，SQL语法太多了，你也可以放到最后，刚开始只用了解怎么用，常用的，最简单的SQL语法会用就行了。
                .testComment
                    include

block append style
    link(rel="stylesheet",href="/stylesheets/onlineTest.css")

block append script
    script(src="/js/onlineTest.js")