//
   Created by lenovo-pc on 2017/1/1.
extend ../layout

block append style
    link(rel="stylesheet",href="/stylesheets/resource.css")
block content
    #resourceBlock
        #search.clear
            form.clear(method='post',action='/search')
                img#searchIcon(src="/img/search.svg")
                input#subBtn(type='submit' value='')
                input#searchInput.form-control(placeholder="搜索",name="searchWords")
        #resource
            #intro
                .brief
                    p.resourceTitle 资源简介名字
                    p.brief-content 资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介
                .share
                    span 推荐
                    span 收藏
                    span 评论
            #mask
            .bgBox

        #resource
            #intro
                .brief
                    p.resourceTitle 资源简介名字
                    p.brief-content 资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介资源简介
                .share
                    span 推荐
                    span 收藏
                    span 下载
            #mask
            .bgBox

