//
    Created by Dida on 2016/12/21.

extend ../layout

block append style
    link(rel="stylesheet" href="/stylesheets/video.css")

block content
    .video
        embed(allowFullScreen="true",quality="high",width="100%",height="600",align="middle",type="application/x-shockwave-flash")
    .video-intro
        -var videos=[{title:"第一个推荐的视频",subjection:"线性表",recommend:"1000000",collect:"100",download:"90"}];
        each video in videos
            .video-name =video.name
            .parise-block
                span.subjection =video.subjection
                span.download 下载
                span.collect 收藏
                span.recommend 推荐
    .video-comment
        include ../includes/comment